.photogrid {
  max-width: 1184px;
  margin: 118px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
}

.photogrid__image {
  max-width: 284px;
  max-height: 213px;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .photogrid {
    max-width: 720px;
    margin-top: 64px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .photogrid__image {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photogrid {
    max-width: 288px;
    margin-top: 38px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .photogrid__image {
    max-width: 288px;
    max-height: 216px;
  }
}
